.background-contacts {
    background-image: url(../assets/Background_Contacts.png);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.gap-16 {
    gap: 16px;
}

.color-red {
    color: var(--red);
}

.color-gray-600 {
    color: var(--gray-600);
}

.color-gray-400 {
    color: var(--gray-400);
}

.subtitle {
    font: var(--subtitle);
}

.title-lg {
    font: var(--title-lg);
}