.background-contacts {
    background-image: url(../assets/Background_Contacts.png);
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.grid-columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.color-red {
    color: var(--red);
}

.color-gray-600 {
    color: var(--gray-600);
}

.color-gray-400 {
    color: var(--gray-400);
}

.subtitle {
    font: var(--subtitle);
}

.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}